body{
    margin: 0;
    padding: 0;
    background-image: url(../bckgrnImage3.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}
.malyObdelnik{
    width: 100%;
    height: 2rem;
    background-color: #4CAF50;
    padding: 0 0;
    margin: 0;
}
.nazevRestaurace{
    width: 100%;
    height: max-content;
    background-color: #4CAF50;
    padding: 0 0;
    margin: 0;
    text-align: center;
    font-size: 7vh;
    
}

.navBar {
    padding: 1rem 0.1rem;
    background-color: #C72C41;
    max-width: 100%;
    
}

.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width:1200px;
    margin: 0 auto; 
    background-color: #FFF5E1; 
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    height: 5rem;    
}

.navButton{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #d3d3d3; 
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    height: 1.5rem;
    width: 7rem;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-weight: 700;
}
.navLogo {
    background-color: white;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;   
}
@media screen and (max-width:426px) {
    .navBar{ 
        width: fit-content;
        height: fit-content;
        padding: 0 0;
    }
    .navContainer{
        width: 100%;
        height: fit-content;
        flex-wrap: wrap;
        flex: 1 1 100%;
        border-radius: 0px;
        padding: 1px 0 ;
    }
    .navButton{
        width: 100%;
        margin: auto 0;
        border-radius: 0;
        padding: 0 0;
        height: 4rem;
        box-shadow: 0 0.2px 0.1px rgba(0, 0, 0, 0.1);
        background-color: transparent;

    }
    .specialni{
        order: -1;
    }
    .navDiv{
        width: 100%;
    }
}
.navDiv a:hover{
    background-color: white; 
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 1);
    transition: background-color 0.9s ease, box-shadow 0.2s ease-in;
}
.logoObrazek{
    height: 7rem;
    width: auto;
}

/*footer */
footer{
    height: fit-content;
}
.footerContainer{
    padding: 0;
    background-color: #FFF5E1;
    width: 100%;
    height: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
.footerVnitrek{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: fit-content;
    justify-content: space-around;
    font-size: 3vh;
    font-weight: lighter;
}

.footerLeva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.footerPrava {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center
}
.footerKontakt{    
    height: fit-content;
    width: 40%;
    padding-top:5rem ;
    text-align: justify;
}
.footerLogo{
    height: auto;
    padding-top:6rem;
}
.footerLogoObrazek{
    height: 10rem;
    width: auto;
}
.footerCisla{
    height: fit-content;
    padding-top:5rem ;
    text-align: justify;
}
.footerSocials{
    margin-left: 2.5rem;
    height: fit-content;
    padding-top:5rem ;
    text-align: justify;
}
.footerCredits{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: fit-content;
    height: fit-content;
    align-items:end ;
    color: #000;
    text-align: center;
    opacity: 60%;
}
.footerCredits ol{
    padding: 0 0 ;
}
@media screen and (max-width:426px) {
    .footerLeva { 
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
        margin-block-start: 1em;

    }
    .footerLeva p{
        margin-block-start: 0;
    }

    .footerKontakt{
        padding-top: 0;
        height: auto;
        width: auto;
        margin-block-end: 0.5em;

    }
    .footerPrava{ 
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
    }
    .footerCisla{
        padding-top: 0;
        height: auto;
        width: auto;
    }
    .footerCisla p{
        margin-block-start: 0.5em;

    }

    .footerSocials{
        margin-left: 0;
        padding: 0;
    }
    .footerSocials p{
        margin-block-start: 0.5em;

    }
    .footerVnitrek{ 
        flex-direction: column;
    }
}

footer a{
    text-decoration: none;
    color: #000000;
}
.caption {
    color: black;
    margin-bottom: 0rem;
    font-size: 4vh;
    font-weight: bold;
    display: block;
}

/*  MAPA  */


.mapaGoogle {
    position: absolute;
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0;
}
.mapa {
    position: relative; 
    padding-bottom: 30%; 
    height: 0; 
    overflow: hidden;
}

/* HomePage */


.velkyObdelnikHomePage{
    width:100%;
    height: fit-content;
    background-color:brown;
    margin: 0 0;
    padding: 0 0;
}
.OknoProObrazek{
    width: 100%;
    height: 40rem;

}
.obrazekONas{
    background-color: #000;
    height: auto;
    width: 20%;
    position: absolute;
    margin-left:15% ;
    margin-top: 10%;
    border: #FFF5E1;
    border-radius: 80px;
    border-width: 2px;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
}
.NadpisONas{
    padding-top: 3rem;
    width: 100%;
    height: fit-content;
    font-size: 8vh;
    margin: 0 0;
    color: #FFF5E1;
    text-align: center;
}
.paragrafONas{
    position: relative;
    padding-top: 10rem;
    left: 50%;
    width: 40%;
    height: fit-content;
    font-size: 4vh;
    color: #FFF5E1;
    border: #000000;
    margin-bottom: 0;
}
.paragrafONas2{
    padding-top: 0%;
    margin: 2% 10%;
    width: 80%;
    height: fit-content;
    font-size: 4vh;
    color: #FFF5E1;
    border: #000000;
    margin-bottom: 0;
    padding-bottom: 2rem;
}
@media screen and (max-width:426px){
    .paragrafONas{
        left:10%;
        width:80%;
        text-align: none;
        font-size: 3vh;
        padding-top: 1rem;
    }
    .NadpisONas{
        font-size: 6vh;
        margin-top: 0;
    }
    .paragrafONas2{
        font-size: 3vh;
    }
    .obrazekONas{
        position: relative;
        width: 0%;
        margin-top: 1rem;
    }
    body{
        background-size: cover;
    }
    .OknoProObrazek{
        height: 0rem;
    }
    .mapa{
        height: 20rem;
    }

}

/* Ceník */


.velkyObdelnikCennik{
    width: 100%;
    height: fit-content;
    background-color:green;
    margin: 0 auto;
    position:relative;
    top: 0rem;
    border-radius: 0px;
    z-index: -1;
}
.table-container {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
    color: white;
}

th {
    height: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px;
    border-bottom: 4px solid white;
    border-left: 1px solid white;
    font-size: 5vh;
}
th:first-child{
    border-left: 0px solid wheat;
}
td {
    font-size: 3vh;
    width: 33%;
    padding: 30px 0;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
.pizzaName td:first-child{
    border-bottom: none;
    font-weight: bold;
}
td:first-child{
    border-left: 0px solid white;
    
}
tbody tr:first-child{
    padding-top: 10px;
}
tr:last-child td {
    border-bottom: none;
}

/* MENU */

.velkyObdelnikMenu{
    width: 100%;
    height: fit-content;
    background-color:#FFF5E1;
    margin: 0 auto;
    position:relative;
    
}
.radek{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    width: 80%;
    height: fit-content;
    padding: 0 10%;
}
.menuItem{
    width: 40%;
    height: 20rem;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);

}
.menuPic{
    height: auto;
    width: 50%;
    
}
.menuCap{
    text-align: center;
    font-size: 20px;
    color: #000000;
    width: 45%;
    height: 100%;
    

}
.nadpisMenu{
    width: 100%;
    height: fit-content;
    font-size: 80px;
    
    color: #000;
    text-align: center;
    padding-top: 1rem;
    padding-bottom:1rem ;
}
@media screen and (max-width:426px) {
    .radek{
        flex-direction: column;
        width: 100%;
        padding: 0 0;   
    }
    .menuItem{
        width: 80%;
    }
    .menuItem h3, p{
        margin: 0px;
    }
    .menuItem p{
        font-size: 5vw;
    }
}
/* Oteviraci Doba */

.velkyObdelnikOteviraciDoba{
    width: 60%;
    height: fit-content;
    background-color:grey;
    margin: 5rem auto;
    position:relative;
    padding-bottom:2rem ;
}
.nadpisOteviraciDoba{
    width: 100%;
    height: fit-content;
    font-size: 8vh;
    color: #FFF5E1;
    text-align: center;
    padding-top: 3rem ;
    padding-bottom: 1rem;
    margin: 0 0;
}
.dnyVTydnu{
    color: #FFF5E1;
    text-align: center;
    font-size: 23px;
    margin: 0px 10%;
    font-weight: bolder;
}
.dnyVTydnu hr{
    width: 60%;
}
.dnyVTydnu .radek{
    flex-direction: row;
}
@media screen and (max-width:426px) {
    .velkyObdelnikOteviraciDoba{
        width: 100%;
    }
    .velkyObdelnikOteviraciDoba h1{
        margin: 0 0;
        font-size: 10vw;
        padding: 1.5rem 0;
    }
    .dnyVTydnu hr{
        width: 90%;
    }
}

/* Dotazník */


.velkyObdelnikDotaznik{
    width: 80%;
    height: fit-content;
    background-color:#a52a2a;
    margin: 0rem auto;
    position:relative;
    padding-bottom:2rem ;
    /* padding-top: 2rem; */
}
.formular{
    color: #FFF5E1;
    text-align: center;
    font-size: 40px;
    margin: 0 10%;
    
    font-weight: bolder;
}
.inputy{
    width: auto;
    height: 2rem;
    margin-top:0rem;
    font-size: 20px;
}
.nazorInput{
    width: 100%;
    height: 4rem;
    font-size: 16px;
}

@media screen and (max-width:500px){
    .velkyObdelnikDotaznik{
        width: 100%;
    }
    .formular{
        margin: 0 0;
    }
    .inputy{
        width: 75%;
    }
}
